.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magneto {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

.magneto::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-out, height 0.5s ease-out;
  transition-delay: 0.2s;
  z-index: -1;
}

.magneto:hover::before {
  width: 200%;
  height: 200%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: red; /* Set background to transparent */
  border-radius: 50%;
  border: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-out, height 0.3s ease-out;
  z-index: -1;
  pointer-events: none;
}

.overlay.active {
  width: 250%;
  height: 250%;
}

a {
  text-decoration: none;
}
