@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-75
}
@layer base {
  :root {
    --color-bgk: 255 255 255;
    --color-bgl: 207 216 220;
    --color-primary: 34 34 34;
    --color-primary95: 38 50 56;
    --color-secondary: 176 190 197;
    --color-ternary: 55 71 79;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-bgk: 34 34 34;
      --color-bgl: 38 50 56;
      --color-primary: 236 239 241;
      --color-primary95: 207 216 220;
      --color-secondary: 11 190 197;
      --color-ternary: 207 216 220;
    }
  } */

  :root[data-theme='light'] {
    --color-bgk: 255 255 255;
    --color-bgl: 207 216 220;
    --color-primary: 34 34 34;
    --color-primary95: 38 50 56;
    --color-secondary: 176 190 197;
    --color-ternary: 55 71 79;
  }

  :root[data-theme='dark'] {
    --color-bgk: 34 34 34;
    --color-bgl: 38 50 56;
    --color-primary: 236 239 241;
    --color-primary95: 207 216 220;
    --color-secondary: 11 190 197;
    --color-ternary: 207 216 220;
  }
}